{% extends "admin_base.html" %}
{% load static %}
{% block a_content %}
<div class="wrapper">
    <!-- Sidebar -->
    <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
                <a href="index.html" class="logo">
                    <h3>SCHOLAR HUB</h3>
                </a>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="gg-menu-right"></i>
                    </button>
                    <button class="btn btn-toggle sidenav-toggler">
                        <i class="gg-menu-left"></i>
                    </button>
                </div>
                <button class="topbar-toggler more">
                    <i class="gg-more-vertical-alt"></i>
                </button>
            </div>
            <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
            <div class="sidebar-content">
                <ul class="nav nav-secondary">
                    <li class="nav-item active">
                        <a data-bs-toggle="collapse" href="" class="collapsed" aria-expanded="false">
                            <i class="fas fa-home"></i>
                            <p class="">Scholar Ship Provider Requests</p>

                        </a>
                        <!-- <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                            <i class="fas fa-home"></i>
                            <p>Dashboard</p>

                        </a> -->

                    </li>




                </ul>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <div class="main-header">
            <div class="main-header-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a href="index.html" class="logo">
                        <img src="assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand"
                            height="20" />
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                        <h4>Admin Panel</h4>
                    </nav>

                    <div>
                        <a href="{% url 'home'%}" class="fs-5" >Logout</a>
                      </div>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">registration_number</th>
                                <th scope="col">Phone Number </th>
                                <th scope="col">Status </th>
                                <th scope="col">Actions </th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for r in rq %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ r.name }}</td>
                                <td>{{ r.contact_email }}</td>
                                <td>{{ r.registration_number }}</td>
                                <td>{{ r.phone_number }}</td>
                                <td>
                                    {% if r.status == 'A' %}
                                    <i class="fa-solid fa-check text-success"></i>
                                    {% elif r.status == 'R' %}
                                    <i class="fa-solid fa-x text-danger"></i>
                                    {% elif r.status == 'P' %}
                                    <i class="fa-solid fa-clock text-primary"></i>
                                    {% endif %}
                                </td>
                                <td class="d-flex">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#modal{{ forloop.counter }}">
                                        View
                                    </button>
                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="modal{{ forloop.counter }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel{{ forloop.counter }}" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalLabel{{ forloop.counter }}">Scholarship Provider Request Details</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p><strong>Name:</strong> {{ r.name }}</p>
                                                    <p><strong>Description:</strong> {{ r.description }}</p>
                                                    <p><strong>Website:</strong> <a href="{{ r.website }}" target="_blank">{{ r.website }}</a></p>
                                                    <p><strong>Email:</strong> {{ r.contact_email }}</p>
                                                    <p><strong>Registration Number:</strong> {{ r.registration_number }}</p>
                                                    <p><strong>Year Established:</strong> {{ r.year_established }}</p>
                                                    <p><strong>Provider Type:</strong> {{ r.get_provider_type_display }}</p>
                                                    <p><strong>Phone Number:</strong> {{ r.phone_number }}</p>
                                                    <p><strong>Address:</strong> {{ r.address }}</p>
                                                    <p><strong>Pin Code:</strong> {{ r.pin_code }}</p>
                                                    <p><strong>City:</strong> {{ r.city }}</p>
                                                    <p><strong>Country:</strong> {{ r.country }}</p>
                                                    <p><strong>Remark:</strong> {{ r.remark }}</p>
                                                    <p><strong>Status:</strong> 
                                                        {% if r.status == 'A' %}
                                                        Approved
                                                        {% elif r.status == 'R' %}
                                                        Rejected
                                                        {% elif r.status == 'P' %}
                                                        Pending
                                                        {% endif %}
                                                    </p>
                                                    <p><strong>Created At:</strong> {{ r.created_at }}</p>
                                                    {% if r.image %}
                                                    <p><strong>Image:</strong> <img src="{{ r.image.url }}" alt="{{ r.name }}" style="max-width: 100%; height: auto;"></p>
                                                    {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
                                            Change Status
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ forloop.counter }}">
                                            <li><a class="dropdown-item" href="{% url 'admin_request' pk=r.id status='A' %}">Approved</a></li>
                                            <li><a class="dropdown-item" href="{% url 'admin_request' pk=r.id status='R' %}">Rejected</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>


                </div>
            </div>
        </div>

    </div>

    <!-- Custom template | don't include it in your project! -->
    <div class="custom-template">
        <div class="title">Settings</div>
        <div class="custom-content">
            <div class="switcher">
                <div class="switch-block">
                    <h4>Logo Header</h4>
                    <div class="btnSwitch">
                        <button type="button" class="selected changeLogoHeaderColor" data-color="dark"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="blue"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="purple"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="green"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="orange"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="red"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="white"></button>
                        <br />
                        <button type="button" class="changeLogoHeaderColor" data-color="dark2"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="blue2"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="purple2"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="green2"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="orange2"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="red2"></button>
                    </div>
                </div>
                <div class="switch-block">
                    <h4>Navbar Header</h4>
                    <div class="btnSwitch">
                        <button type="button" class="changeTopBarColor" data-color="dark"></button>
                        <button type="button" class="changeTopBarColor" data-color="blue"></button>
                        <button type="button" class="changeTopBarColor" data-color="purple"></button>
                        <button type="button" class="changeTopBarColor" data-color="light-blue"></button>
                        <button type="button" class="changeTopBarColor" data-color="green"></button>
                        <button type="button" class="changeTopBarColor" data-color="orange"></button>
                        <button type="button" class="changeTopBarColor" data-color="red"></button>
                        <button type="button" class="selected changeTopBarColor" data-color="white"></button>
                        <br />
                        <button type="button" class="changeTopBarColor" data-color="dark2"></button>
                        <button type="button" class="changeTopBarColor" data-color="blue2"></button>
                        <button type="button" class="changeTopBarColor" data-color="purple2"></button>
                        <button type="button" class="changeTopBarColor" data-color="light-blue2"></button>
                        <button type="button" class="changeTopBarColor" data-color="green2"></button>
                        <button type="button" class="changeTopBarColor" data-color="orange2"></button>
                        <button type="button" class="changeTopBarColor" data-color="red2"></button>
                    </div>
                </div>
                <div class="switch-block">
                    <h4>Sidebar</h4>
                    <div class="btnSwitch">
                        <button type="button" class="changeSideBarColor" data-color="white"></button>
                        <button type="button" class="selected changeSideBarColor" data-color="dark"></button>
                        <button type="button" class="changeSideBarColor" data-color="dark2"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-toggle">
            <i class="icon-settings"></i>
        </div>
    </div>
    <!-- End Custom template -->
</div>
{% endblock a_content %}