{% extends "base.html" %}

{% block home %}

   <div class="container" style="margin-top: 150px; height: 50vh;">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6" >
        <div class="contact-us-content border border-3 p-5 rounded shadow">
            <h1>Are You A Student ?</h1>
            <div style="margin-top: 3rem;display: flex;justify-content: space-evenly;">
                <a class="btn btn-primary" href="{% url 'reg'%}">Yes</a>
                <a class="btn btn-primary" href="{% url 'user_reg'%}">No</a>
                <a class="" href=""></a>
            </div>
        </div>
    </div>
      <div class="col-3"></div>
    </div>
   </div>


{% endblock home %}