{% extends "base.html" %}

{% block home %}
<div class="container" style="margin-top: 150px; height: 50vh;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-5">
            <div class="contact-us-content">
                {% for msg in messages %}
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{msg}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{msg}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endfor %}
                <h1>ScholarShip Provider Login</h1>
                <form method="post" class="border border-3 p-4 rounded shadow my-2">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-info mt-3">Login</button>
                    <a class="ms-2 pt-2" href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Forgot Password?</a>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPasswordModalLabel">Forgot Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'provider-reset-password' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="providerId" class="form-label">Enter Provider ID</label>
                        <input type="text" class="form-control" id="providerId" name="provider_id" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#id_dob').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true
        });
    });
</script>
{% endblock home %}
